#root {
  --main-text-color: #07057c;
  --side-text-color: #fff;
  --side-bg-color: #4067f4;
  --main-bg-color: linear-gradient(157deg, rgba(232,223,229,1) 0%, rgba(212,243,254,1) 100%);
  --side-lt-accent-color: #2624c2;
  --side-links-color: #2cffd0;
  --side-links-hover: #0bcbcb;
  --shadow-color: 194deg 22% 69%;
  --cvtop-shadow-color: 258deg 11% 67%;
  --pic-shadow-color: 227deg 75% 39%;
  --main-shadow-color: 0deg 0% 63%;

  margin: 0 auto;
  font-size: 15px;
  display: grid;
  grid-template-areas: 'head output'
  'input output';
  grid-template-rows: auto 1fr;
  grid-template-columns: clamp(600px, 40vw, 860px);
  min-height: 100vh;
  gap: 0 2rem;
  overflow: hidden;
  color: var(--main-text-color);
}
p {
  line-height: 1.2rem;
}
a {
  font-weight: 500;
  color: #4067f4;
  text-decoration: inherit;
}
a:hover {
  color: #565df4;
}
button {
  border-radius: 6px;
}
.icon-off i{
  display: none;
}


header {
  grid-area: head;
  padding: 3rem 3rem 0rem 3rem;
  background: #e2f3f8;
  display: flex;
  justify-content: flex-start;
}
.logo i::before {
  font-size: 3rem;
  transform: rotate(-10deg);
}
.logo {
  display: flex;
  font-size: 2rem;
}
a.logo {
  color: var(--main-text-color);
}
a.logo:hover {
  color: var(--side-bg-color);
}


/* INPUT */

.edit-ui {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: input;
  padding: 3rem;
  background: #e2f3f8;
}
.card button i {
  font-size: 2rem;
}
.card-header, .card-content {
  background: #fff;
  border-radius: 5px;
}
.card .top, .new-container .new-top {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 1rem;
}
.card .top .position {
  display: flex;
  gap: 1rem;
}
.pos-container {
  display: grid;
  grid-template-areas: '. up .'
  'left . right'
  '. down .';
  grid-template-columns: 1.1rem 1.1rem 1.1rem;
  grid-template-rows: 1.1rem 1.1rem 1.1rem;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.pos-container button i {
  font-size: 1.5rem;
}
.pos-up {
  grid-area: up;
}
.pos-left {
  grid-area: left;
}
.pos-right {
  grid-area: right;
}
.pos-down {
  grid-area: down;
}
.position button {
  padding: 0.15rem;
  border: none;
  background: none;
  color: var(--main-text-color);
}
.position button:hover, .edit-title.on-edit button:hover {
  background: var(--side-bg-color);
  color: var(--side-text-color);
  z-index: 5;
}
.card-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.card-header.on {
  border-radius: 5px 5px 0 0;
}
.card-header.off, .card-content {
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.29), 
  0.5px 0.9px 1.3px -0.8px hsl(var(--shadow-color) / 0.38), 
  1.1px 2.3px 3.2px -1.6px hsl(var(--shadow-color) / 0.48);
}
.card-header h2 {
  font-size: 1.33rem;
  margin: 0;
  text-align: left;
}
.card-header button, .card-header button:focus {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
.card-head-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-title.off-edit button {
  display: flex;
  align-items: center;
  font-weight: normal;
  gap: 0.33rem;
  background: none;
  color: var(--main-text-color);
  border: 2pt solid transparent;
  padding: 0.5rem 1rem;
}
.edit-title.off-edit button:hover {
  border: 2pt solid var(--main-text-color);
}
.edit-title input {
  background: none;
  border: none;
  border-bottom: 1pt solid var(--main-text-color);
  padding: 0.5rem 0rem;
}
.edit-title.on-edit {
  display: flex;
}
.edit-title.on-edit button{
  background: none;
  color: var(--main-text-color);
  padding: 0.15rem 0.33rem;
  display: flex;
}
.edit-title.on-edit button i{
  font-size: 1.75rem;
}
.card-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
}
.card form .main-form, .pers-card form .extra, .custom .extra {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  align-items: flex-end;
}
.card form input, textarea {
  display: block;
  font-size: 1rem;
  font-family: inherit;
}
.card form input {
  max-width: 225px;
  padding: 0.5rem 0.5rem;
}
.card-content label {
	margin: 0;
	display: grid;
}
.edit-train-container, .edit-xp-container, .edit-skill-container {
  display: flex;
  flex-direction: column;
}
.fields-separator {
  border-bottom: 2pt dotted black;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1rem 0 0.5rem 0;
  color: black;
}
.opt {
  display: flex;
}
.opt.off {
  background: #e2f3f8;
  padding: 0.5rem 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.opt.off input {
  display: none;
}
.opt.off button {
  color: var(--main-text-color);
  padding: 0.35rem 0.75rem;
}
.opt.on {
  align-items: flex-end;
}
.opt.on button, .opt.on button:hover {
  background: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  font-weight: 400;
  outline: none;
  color: var(--main-text-color);
}
.train-card .extra label, .exp-card .extra label, .skill-card .extra label {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
textarea { 
  resize: vertical;
  padding: 1rem 0.5rem;
 }
.form-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}
.form-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #4067f4;
  color: #fff;
}
.form-title:hover {
  background: var(--main-text-color);
}
.off .form-header .form-delete {
  display: none;
}
.edit-btns-container {
  display: flex;
  justify-content: space-between;
}
button.del {
  letter-spacing: 1px;
  background: black;
  color: #fff;
}
button.add {
  letter-spacing: 1px;
  align-self: flex-start;
}
button.form-delete:hover {
  background: black;
  color: #fff;
}
button.form-delete {
  background: none;
  border: 2pt solid black;
}
.custom .extra {
  padding-top: 1rem;
}


/* OUTPUT */


.doc-container {
  display: flex;
  justify-content: center;
  grid-area: output;
}
.paper {
  width: 21cm;
  height: 29.7cm;
  margin: 3rem 0;
}
.output, .cv-right, .cv-left {
  display: grid;
}
.output {
  width: 21cm;
  height: 29.7cm;
  grid-template-rows: 1.2fr 1.5fr 1.5fr;
  grid-template-columns: 1.3fr 1fr 1fr;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--main-shadow-color) / 0.1),
  1.5px 2.9px 3.7px -0.4px hsl(var(--main-shadow-color) / 0.1),
  2.7px 5.4px 6.8px -0.7px hsl(var(--main-shadow-color) / 0.1),
  4.5px 8.9px 11.2px -1.1px hsl(var(--main-shadow-color) / 0.1),
  7.1px 14.3px 18px -1.4px hsl(var(--main-shadow-color) / 0.1),
  11.2px 22.3px 28.1px -1.8px hsl(var(--main-shadow-color) / 0.1),
  17px 33.9px 42.7px -2.1px hsl(var(--main-shadow-color) / 0.1),
  25px 50px 62.9px -2.5px hsl(var(--main-shadow-color) / 0.1);

}
.cv-right, .cv-left {
  grid-template-rows: 0.44fr 1fr;
}
.section-title {
  font-size: 1.5rem;
  letter-spacing: 1pt;
  padding: 0;
  margin: 0;
  font-weight: 600;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  line-height: normal;
}
.cv-left .section-title, .cv-right.alt .section-title {
  color: var(--main-text-color);
  border-bottom: 1pt solid var(--main-text-color);
}
.cv-left.alt .section-title, .cv-right .section-title {
  color: var(--side-text-color);
  border-bottom: 1pt solid var(--side-text-color);
}
.cv-left.alt a, .cv-right a {
  color: var(--side-links-color);
}
.cv-left.alt a:hover, .cv-right a:hover {
  color: var(--side-links-hover);
}
.cv-pers {
  grid-area: 1 / 1 / 1 / 4;
  background: #fff;
  z-index: 98;
  margin: 3rem 0 1.5rem 3rem;
  padding: 1.5rem;
  max-height: 255px;
  display: grid;
  align-content: center;
  max-width: 450px;
  box-shadow: 
  0.3px 0.5px 0.6px hsl(var(--cvtop-shadow-color) / 0.3),
  0.6px 1.2px 1.4px -1.1px hsl(var(--cvtop-shadow-color) / 0.27),
  1.6px 3.2px 3.6px -2.2px hsl(var(--cvtop-shadow-color) / 0.23),
  4.1px 8.3px 9.4px -3.2px hsl(var(--cvtop-shadow-color) / 0.2);
}
.cv-pic img {
  max-width: 248px;
  max-height: 250px;
  box-shadow: 
  0.3px 0.5px 0.6px hsl(var(--pic-shadow-color) / 0.41), 
  0.7px 1.3px 1.5px -1.1px hsl(var(--pic-shadow-color) / 0.36), 
  1.8px 3.6px 4.1px -2.2px hsl(var(--pic-shadow-color) / 0.31), 
  4.7px 9.4px 10.6px -3.2px hsl(var(--pic-shadow-color) / 0.27);
}
.cv-pers.no-pic {
  margin: 3rem 3rem 1.5rem 3rem;
  max-width: none;
  z-index: 100;
}
.fullname {
  font-size: 2.5rem;
  font-weight: 300;
  border-bottom: 5pt solid var(--main-text-color);
  max-width: 425px;
  line-height: 2.5rem;
  padding-bottom: 0.5rem;
}
.fullname .last {
  font-weight: 600;
}
.occupation {
  text-transform: uppercase;
  padding: 0.5rem 0 1rem 0;
  letter-spacing: 2px;
}
.contact i {
  padding-right: 0.5rem;
}
.contact {
  color: #544343;
  display: flex;
  flex-wrap: wrap;
  gap: 0.33rem 1rem;
  line-height: normal;
}
.contact div {
  display: flex;
  align-items: center;
}
.cv-pic {
  z-index: 99;
  grid-area: 1 / 3 / 2 / 4;
  margin: 3rem 3rem 0rem 0rem;
  max-width: 200px;
  max-height: 250px;
}
.cv-left {
  grid-area: 1 / 1 / 4 / 3;
  background: var(--main-bg-color);
  padding: 1.5rem 1.5rem 3.5rem 3rem;
  grid-template-areas: '.'
  'main-contents';
  color: var(--main-text-color);
}
.cv-left.alt {
  grid-area: 1 / 1 / 4 / 2;
  background: var(--side-bg-color);
  color: var(--side-text-color);
}
.cv-right .section-title, .cv-right .title {
  margin-right: 1.5rem;
}
.cv-right {
  grid-area: 1 / 3 / 4 / 4;
  background: var(--side-bg-color);
  padding: 1.5rem 1.5rem 3.5rem 1.5rem;
  grid-template-areas: '.'
  'side-contents';
  color: var(--side-text-color);
}
.cv-right.alt {
  grid-area: 1 / 2 / 4 / 4;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}
.cv-right .contents {
  grid-area: side-contents;
}
.cv-left .contents {
  grid-area: main-contents;
}
.cv-right .contents, .cv-left .contents {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.off form {
  display: none;
}
.on form {
  padding-bottom: 3rem;
}
.train-entries, .xp-entries, .skill-entries {
  display: grid;
  gap: 0.75rem;
  line-height: 1.4rem;
}
.train-entries div p, .xp-entries div p, .skill-entries div p {
  margin: 0;
  padding: 0;
}
.train-entries .title, .xp-entries .title, .skill-entries .title {
  font-weight: 600;
}
.train-entries .title::before, .xp-entries .title::before, .skill-entries .title::before, .custom-entries .title::before  {
  padding-left: 7px;
  content: '';
}
.cv-left .title::before {
  border-left: 4px solid var(--main-text-color);
}
.cv-left.alt .title::before {
  border-left: 4px solid var(--side-text-color);
}
.cv-right .title::before {
  border-left: 4px solid var(--side-text-color);
}
.cv-right.alt .title::before {
  border-left: 4px solid var(--main-text-color);
}
.univ, .orga {
  font-style: italic;
  letter-spacing: 2px;
}
.year {
  letter-spacing: 3px;
}
p.desc {
  margin: 0;
  white-space: pre-line;
}
.xp-header, .train-header {
  display: flex;
  gap: 1.3rem;
  justify-content: space-between;
}
.cv-right .skill-entries .title {
  letter-spacing: 1px;
  background: var(--side-lt-accent-color);
  padding: 0.33rem 0;
  margin-bottom: 0.25rem;
}
.cv-right .skill-entries .title::before {
  border: none;
}
.new-top button, button.add{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 1.1rem;
  color: var(--main-text-color);
  border: 2pt dashed var(--side-bg-color);
}
.new-top button:hover, button.add:hover {
  border: 2pt solid var(--side-bg-color);
}
.new-top i, button.add i {
  font-size: 1.5rem;
}

/* intro */
i.iconoir-quote-solid {
  padding-left: 0.33rem;
  transform: scaleX(-1);
  font-size: 1.33rem;
}
.intro-entries .desc {
  font-style: italic;
  color: var(--side-lt-accent-color);
}


/* Tag mode */
.toggle-tags {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-direction: row;
  margin-top: -2rem;
}
.toggle-tags button {
  background: none;
  padding: 0.25rem 0.75rem;
}

.header-tag {
  background: #e2f3f8;
  padding: 0.33rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0.5px 2px 0px hsl(241.48deg 65% 47.16% / 55%), 0px 3px 0px hsl(241.48deg 65% 47.16% / 5%);
}
.cv-pers .tags {
  padding-top: 1rem;
}
.cv-tag-container p, .cv-tag-container a {
  display: none;
}
.cv-tag-container p.title, .cv-tag-container p.section-title {
  display: block;
}
.cv-tag-container p.title::before {
  display: none;
}
.cv-tag-container [class$="entries"], .cv-pers .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.cv-tag-container .title, .cv-right .cv-tag-container .skill-entries .title {
  background: #fff;
  padding: 0.33rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0.5px 1px 1px hsl(241.48deg 64.31% 47.16% / 45%), 2px 3px 3px hsl(241.48deg 64.31% 47.16% / 45%);
}
.cv-right .cv-tag-container .skill-entries .title {
  margin-right: 0;
  color: var(--main-text-color);
}

/* Print */
@media print {
  body {
    visibility: hidden;
  }
  .output {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
} 
